body{
    font-family: 'Playfair Display', Verdana, 'Times New Roman', Arial, Helvetica, sans-serif;
    background-color: #0463ca;
    font-size: 1em;
}

header, footer{
    background-color: #0463ca;
    color: white;
    padding: 8px;
    text-align: center;
}

footer a{
    color: white;
}

header{
    background-color: #3985d6;
}

h1{
    line-height: 1.5;
    font-size: 2.4em;
    text-align: center;
    font-weight: bold;
}

.big_screen{
    display: none;
}

h1, h2{
    font-family: 'Eagle Lake';
}

a.skip{
    background-color: white;
    position: absolute;
    padding: 5px;
    left: 10px;
    top: -35px;
    transition: top 1s ease-out;
    z-index: 1;
}
  
a.skip:focus{
    top: 10px;
    color: black;
}
  
*:focus{
    border: 2px solid black;
}

body{
    background-color: #F0F8FE;
}

.navigation a{
    color: black;
    text-decoration: none;
}

.navigation a:focus, .navigation .current{
    /* color: #0463ca;
    text-decoration: white solid underline;
    font-size: 1.2em;
    border-radius: 1em;
    border: 2px solid #0463ca; */

    /* color: white;
    text-decoration: white solid underline;
    background-color: #378dea;
    font-size: 1.2em;
    border-radius: 1em;
    border: 2px solid black; */

    color: #0463ca;
    /* text-decoration: #0463ca solid underline; */
    /* font-size: 1.2em; */
    border-radius: 0.2em;
    border: 0.8px solid #0463ca;
    text-transform: uppercase;
}

.nav_bar{
    width:100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
}

img{
    width: 100%;
    /* border: 5px #6ed4d4 solid; */
    border: 5px #3985d6 solid;
    /* border: 10px #ecfc5d solid; */
}

.gallery{
    display: grid;
    grid-template-columns: 1fr 18fr 18fr 1fr;
    grid-template-rows: auto auto auto auto;
    row-gap: 5px;
}

.text, .text_two, .text_three{
    text-align: center;
    margin: 5px 9px 8px 9px;
    /* border-left: 2px #0463ca solid;
    border-right: 2px #0463ca solid; */
    align-self: center;
}

#suspension_bridge{
    grid-row: 1 / span 1;
    grid-column: 2 / span 2;
    filter: saturate(120%);
    filter: opacity(93%);
}

#suspension_text{
    display: none;
}

#hot_pot{
    grid-row: 2 / span 1;
    grid-column: 2 / span 2;
    filter: saturate(150%);
    filter: opacity(95%);
    filter: brightness(110%);
}

#pot_text{
    display: none;
}

#japanese_cuisine{
    grid-row: 3 / span 1;
    grid-column: 2 / span 2;
    filter: saturate(150%);
    filter: opacity(95%);
    filter: brightness(110%);
}

#jap_text{
    display: none;
}

#european_cuisine{
    grid-row: 4 / span 1;
    grid-column: 2 / span 2;
    filter: saturate(120%);
    filter: opacity(93%);
}

#euro_text{
    display: none;
}

#cherry_blossoms{
    grid-row: 5 / span 1;
    grid-column: 2 / span 2;
    filter: saturate(120%);
    filter: opacity(93%);
}

#blossoms_text{
    display: none;
}

#marble_caves{
    grid-row: 6 / span 1;
    grid-column: 2 / span 2;
    filter: saturate(120%);
    filter: opacity(93%);
}

#patagonia_text{
    display: none;
}

#grand_prismatic_spring{
    grid-row: 7 / span 1;
    grid-column: 2 / span 2;
    filter: saturate(120%);
    filter: opacity(93%);
}

#wyoming_text{
    display: none;
}

#national_park_australia{
    grid-row: 8 / span 1;
    grid-column: 2 / span 2;
    filter: saturate(150%);
    filter: opacity(93%);
}

#aust_text{
    display: none;
}

#salar_de_uvuni{
    grid-row: 9 / span 1;
    grid-column: 2 / span 2;
    filter: saturate(120%);
    filter: opacity(93%);
}

#bolivia_text{
    display: none;
}

h2{
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 3px;
}

.southeastern, .northeastern, .northwestern, header{
    border-bottom: 3px solid black;
}

.gallery{
    margin-bottom: 4px;
    /* filter: drop-shadow(8px 8px 10px white); */
}

footer{
    border-top: 3px solid black;
}

.first_image, .second_image, .third_image{
    filter: saturate(120%);
}

@media screen and (prefers-reduced-motion: reduce){
    a.skip{
        transition: none;
    }
}

@media only screen and (min-width: 760px) {

    h1{
        font-size: 3.5em;
    }

    .mobile{
        display: none;
    }

    .big_screen{
        display: initial;
    }

    img{
        height: 100%;
    }

    .gallery{
        grid-template-columns: 1fr 18fr 18fr 18fr 1fr;
        column-gap: 5px;
    }

    #suspension_bridge{
        grid-row: 1 / span 1;
        grid-column: 2 / span 1;
    }
    
    #hot_pot{
        grid-row: 1 / span 1;
        grid-column: 3 / span 1;
    }
    
    #japanese_cuisine{
        grid-row: 1 / span 1;
        grid-column: 4 / span 1;
    }

    #suspension_text{
        display: grid;
        grid-row: 2 / span 1;
        grid-column: 2 / span 1;
        text-align: center;
        border-radius: 1em;
        border: 1px #3985d6 solid;
        padding-bottom: 0.2em;
    }

    #pot_text{
        display: grid;
        grid-row: 2 / span 1;
        grid-column: 3 / span 1;
        text-align: center;
        border-radius: 1em;
        border: 1px #3985d6 solid;
        padding-bottom: 0.2em;
    }

    #jap_text{
        display: grid;
        grid-row: 2 / span 1;
        grid-column: 4 / span 1;
        text-align: center;
        border-radius: 1em;
        border: 1px #3985d6 solid;
        padding-bottom: 0.2em;
    }
    
    #european_cuisine{
        grid-row: 3 / span 1;
        grid-column: 2 / span 1;
    }
    
    #cherry_blossoms{
        grid-row: 3 / span 1;
        grid-column: 3 / span 1;
    }
    
    #marble_caves{
        grid-row: 3 / span 1;
        grid-column: 4 / span 1;
    }

    #euro_text{
        display: grid;
        grid-row: 4 / span 1;
        grid-column: 2 / span 1;
        text-align: center;
        border-radius: 1em;
        border: 1px #3985d6 solid;
        padding-bottom: 0.2em;
    }

    #blossoms_text{
        display: grid;
        grid-row: 4 / span 1;
        grid-column: 3 / span 1;
        text-align: center;
        border-radius: 1em;
        border: 1px #3985d6 solid;
        padding-bottom: 0.2em;
    }

    #patagonia_text{
        display: grid;
        grid-row: 4 / span 1;
        grid-column: 4 / span 1;
        text-align: center;
        border-radius: 1em;
        border: 1px #3985d6 solid;
        padding-bottom: 0.2em;
    }
    
    #grand_prismatic_spring{
        grid-row: 5 / span 1;
        grid-column: 2 / span 1;
    }
    
    #national_park_australia{
        grid-row: 5 / span 1;
        grid-column: 3 / span 1;
    }
    
    #salar_de_uvuni{
        grid-row: 5 / span 1;
        grid-column: 4 / span 1;
    }

    #wyoming_text{
        display: grid;
        grid-row: 6 / span 1;
        grid-column: 2 / span 1;
        text-align: center;
        border-radius: 1em;
        border: 1px #3985d6 solid;
        padding-bottom: 0.2em;
        margin-bottom: 0.7em;
    }

    #aust_text{
        display: grid;
        grid-row: 6 / span 1;
        grid-column: 3 / span 1;
        text-align: center;
        border-radius: 1em;
        border: 1px #3985d6 solid;
        padding-bottom: 0.2em;
        margin-bottom: 0.7em;
    }

    #bolivia_text{
        display: grid;
        grid-row: 6 / span 1;
        grid-column: 4 / span 1;
        text-align: center;
        border-radius: 1em;
        border: 1px #3985d6 solid;
        padding-bottom: 0.2em;
        margin-bottom: 0.7em;
    }

    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
    }

    .northeastern{
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
    }

    .text{
        grid-row: 1 / span 1;
        grid-column: 2 / span 1;
        font-size: 1.7vw;
        margin: 10px 15px;
    }

    .text_two{
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
        font-size: 1.7vw;
        margin: 10px 15px;
    }

    .southeastern, .northwestern{
        grid-row: 2 / span 1;
        grid-column: 2 / span 1;
    }

    .southwestern{
        grid-row: 3 / span 1;
        grid-column: 1 / span 1;
    }

    .text_three{
        grid-row: 3 / span 1;
        grid-column: 2 / span 1;
        font-size: 1.7vw;
        margin: 10px 15px;
    }

    .southeastern, .northeastern, .northwestern{
        border-bottom: none;
    }

    .navigation a:hover{
        color: black;
        text-decoration: black solid underline;
    }

    .navigation{
        font-size: 2.2vw;
        margin: 5px 5px;
    }

    .nav_bar{
        flex-direction: row;
        justify-content: space-evenly;
    }
}

/* @media screen and (min-width: 1027px){

} */

